{% assign taxa = site.data.taxa %}
{% assign boros = site.data.locations.boros %}
{% assign sites = site.data.locations.sites %}
{% assign observations = site.data.observations %}

<p>
<a href="/" title="Lichens of New York City">NYC</a>:
{% for boro in boros %}
<a href="/{{ boro[1] | slugify }}/" title="Lichens of {{ boro[1] }}">{{ boro[1] }}</a>
{% unless forloop.last %}|{% endunless %}
{% endfor %}
</p>

{% assign genera = '' %}
{% for genus in observations %}
  {% assign genus_name = genus[0] %}
  {% assign species_names = '' %}
  {% for species in observations[genus_name] %}
    {% assign use_species = false %}
    {% if include.boro == nil %}
      {% assign use_species = true %}
    {% else %}
      {% for site in species[1] %}
        {% assign site_code = site[0] %}
        {% if sites[site_code].boro == include.boro %}
          {% assign use_species = true %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if use_species %}
      {% if species_names != '' %}
        {% assign species_names = species_names | append: '🍄' %}
      {% endif %}
      {% assign species_names = species_names | append: species[0] %}
    {% endif %}
  {% endfor %}
  {% if species_names != '' %}
    {% if genera != '' %}
      {% assign genera = genera | append: '🌳' %}
    {% endif %}
    {% assign genera = genera | append: genus_name | append: '🌲' | append: species_names %}
  {% endif %}
{% endfor %}
{% assign genera = genera | split: '🌳' %}
{% for genus_raw in genera %}
{% assign genus = genus_raw | split: '🌲' %}
{% assign genus_name = genus[0] %}
<h2>
  <strong><cite>{{ genus_name }}</cite></strong>
  <span style="font-size: 0.7em">{{ taxa[genus_name].auth | replace: '. ', '.' | replace: '.&', '. &' | replace: ' ex ', ' <em>ex</em> ' }}</span>
</h2>
<!--<p>
  <strong>Form</strong>: {{ taxa[genus_name].form }}
</p>-->
{% assign species_names = genus[1] | split: '🍄' %}
{% for species_name in species_names %}
{% assign species_key = species_name | replace: 'cf. ', '' %}
{% assign species_obj = taxa[genus_name].species[species_key] %}
{% assign binomial    = genus_name | append: ' ' | append: species_name %}
{% if species_obj.eol %}
<a href="http://eol.org/data_objects/{{ species_obj.eol }}">
  <img src="/photo/{{ binomial | replace: 'cf. ', '' | replace: ' ', '-' }}.jpeg" style="height: 80px; border: 1px solid #000; float: right" />
</a>
{% endif %}
<h4>
{% if species_name == 'sp.' %}
  <strong><cite>{{ genus_name }}</cite> {{ species_name }}</strong>
{% else %}
  <strong><cite>{{ binomial | replace: ' cf. ', '</cite> cf. <cite>' | replace: ' var. ', '</cite> var. <cite>' | replace: ' f. ', '</cite> f. <cite>' }}</cite></strong>
  <span style="font-size: 0.7em">{{ species_obj.auth | replace: '. ', '.' | replace: '.&', '. &' | replace: ' ex ', ' <em>ex</em> ' }}</span>
{% endif %}
</h4>
{% if species_obj.syn %}
<p style="text-indent: 1em">
  ≡ <cite>{{ species_obj.syn | join: ', ' }}</cite>
</p>
{% endif %}
<ul>
{% for boro in boros %}
  {% if include.boro != nil and include.boro != boro[0] %}
    {% continue %}
  {% endif %}
  {% assign use_boro = false %}
  {% assign site_names = '' %}
  {% for site in observations[genus_name][species_name] %}
    {% assign site_code = site[0] %}
    {% if sites[site_code].boro == boro[0] %}
      {% assign use_boro = true %}
      {% if site_names != '' %}
        {% assign site_names = site_names | append: '🌱' %}
      {% endif %}
      {% assign years = site[1] | sort: 'when' | map: 'when' %}
      {% assign site_names = site_names | append: sites[site_code].name | append: '<sup style="font-size: 0.7em; color: grey">' | append: years[-1] | append: '</sup>' %}
    {% endif %}
  {% endfor %}
  {% if use_boro %}
    {% assign site_names = site_names | split: '🌱' | sort %}
    {% if include.boro == nil %}
      <li><strong>{{ boro[1] }}</strong>: {{ site_names | join: ', ' }}</li>
    {% else %}
      {% for site in site_names %}
        <li>{{ site }}</li>
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
{% endfor %}
{% endfor %}
